@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600&family=Montserrat:wght@700&family=Lato:wght@400;700&display=swap');

body {
    font-family: 'Lora', serif;
    text-align: center;
    filter: brightness(0.99) sepia(0.15) hue-rotate(-9deg) saturate(1.15);
    box-sizing: border-box;
}

/* Estilização da seção principal */
.hero-section {
    position: relative;
    min-height: 80vh; /* Altura mínima, pode crescer se precisar */
    padding: 65px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    overflow: hidden;
    flex-direction: column;
}

.hero-section .background-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #DEC1A6 0%, #862608 200%, #000000 100%);
    background-size: cover;
    filter: blur(10px); /* Agora só a imagem ficará desfocada */
    z-index: -2;
}

.hero-section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.00); /* Overlay para melhor contraste */
    z-index: -1;
}

.main-section-1 {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #ececec;
}

.container-presentation {
    margin-top: 9%;
    text-align: center;
    margin-left: 30px;
    width: 50%;
    z-index: 9999;
}

.container-presentation-1 {
    margin-top: 11%;
}

.container-presentation h4 {
    font-family: 'Lora', serif;
    font-size: 18px;
    letter-spacing: 18px;
    font-weight: bold;
    opacity: 0.8;
    margin-bottom: 25px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.container-presentation h1 {
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

}

.container-presentation p {
    width: 69%;
    font-size: 20px;
    text-align: justify;
    margin: auto;
    margin-top: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.container-presentation a {
    background-color: #C77056;
    color: #ffffff; /* Contraste leve e elegante */
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 6px;
    display: inline-block;
    border: none;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 40px;
    width: 65%;
    transition: all 0.3s ease;
    letter-spacing: 0.5px; /* Um leve espaçamento para sofisticação */
}

.container-presentation a:hover {
    background-color: #C77056;
    transform: scale(1.04); /* Pequena elevação */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave para elevação */
    color: #fffaf5; /* Um branco mais acolhedor, se quiser variar um pouco */
}


.container-img {
    display: flex;
    align-items: end;
    justify-content: left;
    width: 50%;
    margin-bottom: -124px;
}

/* Ajusta a imagem dentro do container */
.container-img img {
    width: 70vh;
    height: auto; /* Mantém a proporção da imagem */
    object-fit: contain;
    margin-left: 40px;
}

/* ESTILIZAÇÃO DO PAINEL DAS ÁREAS DE ATUAÇÃO */

.main-section-2 {
    display: flex;
    width: 100%;
    height: 300px;
    align-items: center;
}

.container-area-atuacao h2,
.container-terapia-cognitivo-comportamental h2 {
    color: #C77056;
}

.container-area-atuacao p,
.container-terapia-cognitivo-comportamental p {
    color: #444444 ;
    width: 65%;
    font-size: 20px;
    text-align: justify;
    margin: auto;
    margin-top: 40px;
}

.hero-section-area-atuacao,
.hero-section-cognitivo-comportamental {
    min-height: 53vh;
    background-color: #ededec;
}

.container-areas {
    display: flex;
    gap: 4%;
    flex-wrap: wrap;
}

.container-areas div {
    width: 40%;
    height: 100px;
    font-size: 20px;
    margin-top: 60px;
    background-color: #C66959 !important;
    border: 1px solid #54362A !important;
    display: flex; /* Ativa o Flexbox */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza o conteúdo no eixo principal */
    gap: 20px; /* Espaço entre o ícone e o texto */
    text-align: center;
    cursor:auto;
}

.container-areas div i {
    font-size: 24px; /* Ajusta o tamanho do ícone */
}
